# PlatformIO build files
.pio/

# PlatformIO Core temporary files
.piolibdeps/
.clangd/
.cache/

# VS Code settings (optional)
.vscode/

# Eclipse
.project
.cproject

# CLion
.idea/

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Python cache files
__pycache__/
*.pyc

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Backup files
*~
*.bak
